# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Django stuff:
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/


# If using PostgreSQL
*.pgdata

# Celery beat schedule file
celerybeat-schedule

# Django migrations
**/migrations/
!**/migrations/__init__.py

# ENV files
.env
.env.*

# IDEs and editors
.vscode/
.idea/
*.swp

# Python virtualenv
venv/
env/
.venv/
ENV/

# MacOS
.DS_Store

# Test coverage
htmlcov/
.coverage
.tox/
.nox/
.cache/

# Node stuff (if you use JS or Webpack)
node_modules/
dist/
build/

# QR codes or temp files
*.png
*.tmp

# Pytest
.pytest_cache/

# System files
Thumbs.db
